body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* block horizontal scroll */
html, body {
      	width: 100%;
      	overflow-x: hidden;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
}
